/* purgecss start ignore */
@tailwind base;

@font-face {
    font-display: swap;
    font-family: "Munro Small";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/munro-small.woff2") format("woff2"),
    url("/static/fonts/munro-small.woff") format("woff");
    unicode-range: U+20, U+30-39, U+45, U+49, U+4c, U+4e-4f, U+53-54, U+57
}

.jjk-app-layout {
    @apply .h-full .w-full .overflow-hidden .fixed;
}

#__next {
    @apply .jjk-app-layout;
}

@screen lg {
    #__next {
        @apply .bg-contain;
    }
}

.jjk-background {
    @apply .bg-repeat-x .bg-cover;

    background-color: #302045;
}

html.no-webp .jjk-background {
    background-image: url("/static/images/bg.png"),
    linear-gradient(
            to bottom,
            rgb(61, 60, 73) 0%,
            rgb(43, 2, 98) 20%,
            rgb(119, 25, 84) 53%,
            rgb(48, 32, 69) 91%,
            rgb(34, 19, 53) 100%
    );
}

html.webp .jjk-background {
    background-image: url("/static/images/bg.webp"),
    linear-gradient(
            to bottom,
            rgb(61, 60, 73) 0%,
            rgb(43, 2, 98) 20%,
            rgb(119, 25, 84) 53%,
            rgb(48, 32, 69) 91%,
            rgb(34, 19, 53) 100%
    );
}

.jjk-player-action {
    transform: translateY(16px);
    transition: transform 150ms ease-in-out;
}

html.touchevents .jjk-player-action {
    transition-duration: 250ms;
}

html.touchevents .jjk-player-action.jjk-bump {
    transform: translateY(0);
}

html.no-touchevents .jjk-player-action:hover {
    transform: translateY(0);
}

.jjk-click-here-to-play {
    animation: up-and-down infinite 1s;
}

@keyframes up-and-down {
    0% {
        transform: translateY(16px);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(16px);
    }
}

@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
