/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

@font-face {
    font-display: swap;
    font-family: "Munro Small";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/munro-small.woff2") format("woff2"),
    url("/static/fonts/munro-small.woff") format("woff");
    unicode-range: U+20, U+30-39, U+45, U+49, U+4c, U+4e-4f, U+53-54, U+57
}

.jjk-app-layout {
    @apply .h-full .w-full .overflow-hidden .fixed;
}

#__next {
    @apply .jjk-app-layout .bg-repeat-x .bg-cover;

    background-image: url("/static/images/bg.png");
}

@screen lg {
    #__next {
        @apply .bg-contain;
    }
}

.jjk-player-action {
    transform: translateY(16px);
    transition: transform 150ms ease-in-out;
}

.jjk-player-action:hover {
    transform: translateY(0);
}

@tailwind components;
@tailwind utilities;
